<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Your Post</h1>
    <h3 class="user">@<%= post.username %></h3>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <textarea  rows="10" cols="40" placeholder="write your post" name="content"><%= post.content %></textarea> <br><br>
        <button>Update Post</button>
    </form>
</body>
</html>