<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, at? Eligendi eius reiciendis velit ut a natus at tenetur aliquam id? Hic incidunt eum dicta ratione soluta quas quisquam quaerat.</p>
    <button>click me!</button>
</body>
</html>